{% trans_default_domain 'FOSUserBundle' %}

<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12     mb2 text-center">

    <h4>Mot de passe perdu</h4>

</div>


<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 bg-white">
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request form-group">
        <div class="col-md-12 mt2 mb2">
            <label class="control-label" for="username">{{ 'resetting.request.username'|trans }}</label>
        </div>
        <div class="col-md-12 mb2">
            <input class="form-control" type="text" id="username" name="username" required="required" />
        </div>
        <div class="text-center">
            <input type="submit" value="{{ 'resetting.request.submit'|trans }}" />
        </div>
    </form>
</div>
