.p0{
    padding: 0;
}
.p1{
    padding: 1%;
}
.m0{
    margin: 0;
}
.mb1{
    margin-bottom: 1%;
}
.mt1{
    margin-top: 1%;
}
.mb2{
    margin-bottom: 2%;
}
.mb5{
    margin-bottom: 5%;
}
.mb10{
    margin-bottom: 10%;
}
.mb15{
    margin-bottom: 15%;
}