.p0{
    padding: 0;
}
.p1{
    padding: 1%;
}
.m0{
    margin: 0;
}
.mb1{
    margin-bottom: 1%;
}
.mt1{
    margin-top: 1%;
}

.mt2{
    margin-top: 2%;
}
.mb2{
    margin-bottom: 2%;
}
.mb5{
    margin-bottom: 5%;
}
.mb10{
    margin-bottom: 10%;
}
.mb15{
    margin-bottom: 15%;
}

.bg-gray{
    background-color: #565656;
    color: #fff;
}

.detailBox {
    width:480px;
    border:1px solid #bbb;
    margin:50px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
    color:#444;
    margin:0;
    display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}

.endcat{
    height: 7px;
    border-top: 2px solid black ;
    border-bottom: 2px solid black;
    margin-top: 2%;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 2px solid #000000;
    border-top: none;
}

#myProgress {
    width: 100%;
    background-color: grey;
}
#myBar {
    width: 1%;
    height: 20px;
    background-color: red;

}

.formationdiv:hover{
    background-color: cornflowerblue;
    padding: 2%;
}

.imgformation{
    margin-top: 3.2%;
}