.bg-gray{
    background-color: #565656;
    color: #fff;
}
body{
    background-color: #9d9d9d;
}

.useravater{
    background-color: #fff;
    color: #0f0f0f;
}

.bg-white{
    background-color: #fff;
    color: #0f0f0f;
}

.p0{
    padding: 0;
}

.label{
    font-size: 90%;
    color: #0f0f0f;
    ;line-height: normal;
}